.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    place-items: center;
    justify-content: center;

}

.func {
    width: 400px;
    height: 400px;
    background-color: red;
    transition: all 2000ms;
}

.kleiner {
    width: 200px;
    height: 400px;
    background-color: blue;
    transition: all 2000ms;
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

img {
    width: 200px;
}